@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap");

code {
  background-color: #000;
  color: rgb(140, 172, 135);
  border-radius: 7px;
  font-family: "Source Code Pro", monospace;
  white-space: pre;
}
.table-wrapper,
code {
  padding: 8px;
  width: 100%;
  overflow-x: auto;
}

.centered {
  justify-content: center; /* center items horizontally, in this case */
  align-items: center; /* center items vertically, in this case */
  display: flex;
}

table,
th,
td {
  padding: 8px;
  text-align: center;
  border: 2px solid black;
  border-collapse: collapse;
}
a {
  color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #585a5d;
}
.container {
  display: grid;
  width: 90vw;
  border: 1px solid rgb(53, 53, 53);
  border-radius: 5px;
  background-color: #313133;
}

.tip-container {
  display: flex;
  width: 100%;
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(360px, 1fr)); */
  overflow: auto;

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.tip {
  border-radius: 7px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  background: #828181;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  min-width: 280px;
  max-width: 680px;
  justify-content: flex-start;
  align-content: flex-start;
}
.tagsList{
  display: flex;
  width: 100%;
  height: min-content;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tip.reminder {
  border-left: 5px solid green;
}

.MultiTextContainer{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-left: 0;
  width: 100%;
  margin-bottom: auto;
  gap: 1rem;
}

.tip,
h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}
h1,
h3,
p,
label,
thead {
  color: whitesmoke;
  white-space: pre-wrap;
}
.hint {
  border-radius: 7px;
  padding: 8px;
  color: black;
  background-color: cornsilk;
  white-space: pre-wrap;
}
thead {
  font-size: 18px;
  background: #585a5d;
}
h1 {
  padding: 1vh;
}
