@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap");

* {
  color: inherit;
  border-radius: inherit;
  border-color: inherit;
}

*::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--text-grey);
  opacity: 1; /* Firefox */
}

*:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--text-grey);
}

*::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--text-grey);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-light);
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
td,
h3,
p,
label,
thead,
em,
b {
  white-space: pre-wrap;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.875rem;
}
h6 {
  font-size: 0.85rem;
}

